﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/Top.Master" AutoEventWireup="true" CodeBehind="dataoutput.aspx.cs" Inherits="JSKWeb.Ticket.dataoutput" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="topTool" runat="server">
    <fieldset>
        <legend>&nbsp;筛选条件&nbsp;</legend>
        <table cellpadding="0" cellspacing="0" border="0"  class="">
            <tbody>
                <tr>
                    <td align="right" width="180px" class="contrlFontSize">
                        导出数据脚本：
                    </td>
                    <td align="left" width="440px">
                        <asp:TextBox ID="txtSql" runat="server" Height="146px" TextMode="MultiLine" Width="639px"></asp:TextBox>
                        <asp:Button ID="btnOutPut"  CssClass="btn" 
                            runat="server"  Text="数据导出" Width="70px" OnClick="btnOutPut_Click" />
                    </td>
                </tr>
       
            </tbody>
        </table>
    </fieldset>



</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="rightMain" runat="server">
    
    <div id="dataMian">
        <div>
        </div>
        </div>



</asp:Content>
