﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/Top.Master" AutoEventWireup="true" CodeBehind="SysTicketXx.aspx.cs" Inherits="JSKWeb.Ticket.SysTicketXx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="topTool" runat="server">
    <fieldset>
        <legend>&nbsp;筛选条件&nbsp;</legend>
        <table cellpadding="0" cellspacing="0" border="0"  class="">
            <tbody>
                <tr>
                       <td align="right" width="180px" class="contrlFontSize">
                        请选择票据更改文件：
                    </td>
                    <td align="left" width="440px">
                        <asp:FileUpload ID="fileUploadCtr" runat="server" />&nbsp;
                        <asp:Button ID="btnQuery" OnClick="btnSearch_Click" CssClass="btn" 
                            runat="server"  Text="更 新" Width="70px" />
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>



</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="rightMain" runat="server">
    
    <div id="dataMian">
        <div>
        <asp:GridView ID="GridView1" runat="server"></asp:GridView>

        </div>
        </div>



</asp:Content>
