﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/Top.Master" AutoEventWireup="true" CodeBehind="SysTicketCFGUpdate.aspx.cs" Inherits="JSKWeb.Ticket.SysTicketCFGUpdate" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="topTool" runat="server">
    <fieldset>
        <legend>&nbsp;筛选条件&nbsp;</legend>
        <table cellpadding="0" cellspacing="0" border="0"  class="">
            <tbody>
                <tr>
                    <td align="right" width="180px" class="contrlFontSize">
                        导出申诉点：
                    </td>
                    <td align="left" width="440px">
                        <asp:DropDownList ID="DropDownList1" runat="server">
                            <asp:ListItem Value="13">DDT</asp:ListItem>
                            <asp:ListItem Value="12">FMCG</asp:ListItem>
                            <asp:ListItem Value="11">OTC</asp:ListItem>
                            <asp:ListItem Value="25">OTCHZ</asp:ListItem>
                            
                        </asp:DropDownList>
                        <asp:Button ID="btnOutPut"  CssClass="btn" 
                            runat="server"  Text="数据导出" Width="70px" OnClick="btnOutPut_Click" />
                    </td>
                </tr>
                <tr>
                       <td align="right" width="180px" class="contrlFontSize">
                        导入申诉点：
                    </td>
                    <td align="left" width="440px">
                       <asp:FileUpload ID="fileUploadCtr" runat="server" />&nbsp;
                        &nbsp;
                        <asp:Button ID="Button2" OnClick="btnSearch_Click" CssClass="btn" 
                            runat="server"  Text="更 新" Width="70px" />
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>



</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="rightMain" runat="server">
    
    <div id="dataMian">
        <div>
        </div>
        </div>



</asp:Content>
