﻿body { font-size:12px; /*color:#666666*/}
.gridview
{
	border: 1px solid #808080;
	font-size: 12px;
	margin-left: 0px;
	font-family: verdana,Arial, Helvetica, sans-serif;
}
.across
{
	cursor: default;
	/*background-color: #EFEFEF;*/
}
.header
{
	cursor: default;
	/*color: #ffffff;
	background-color: #0B7DB0;*/
	height: 22px;
}
.header A
{
	color: #ffffff;
}
.header A:hover
{
	color: #ffffff;
}
.normal
{
	cursor: default;
	background-color: #ffffff;
}
.select
{
	color: #666666;
	background-color: #00B2EE;
}
/*#ff9900*/
.hide
{
	display: none;
}
.div_operation
{
	margin: auto;
	width: 100%;
}
.pointer
{
	cursor: pointer;
	height: 25px;
}
a
{
	color: #666666;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
.body_bg {background:#ccc;}
.bodystyle {background:#fff;}
.lefttable{ border:#ccc solid 1px;}
.lefttitlebg{font-size:14px; font-weight:bold; background:url("../../images/titlebgs.jpg"); color:#fff; padding:10px;}


/*-----------ViewCustomerBrief------------*/
/* 风格1 */
.paginator
{
    font: 11px Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 0;
    margin: 0px;
}
.paginator a
{
    padding: 1px 6px;
    border: solid 1px #ddd;
    background: #fff;
    text-decoration: none;
    margin-right: 2px;
}
.paginator a:visited
{
    padding: 1px 6px;
    border: solid 1px #ddd;
    background: #fff;
    text-decoration: none;
}
.paginator .cpb
{
    padding: 1px 6px;
    font-weight: bold;
    font-size: 13px;
    border: none;
}
.paginator a:hover
{
    color: #fff;
    background: #ffa501;
    border-color: #ffa501;
    text-decoration: none;
}

/* 风格2 */
.pages
{
    font: 12px Arial, Helvetica, sans-serif;
    padding: 5px 20px 5px 0;
    margin-left: 10px;
}
.pages a, .pages .cpb
{
    text-decoration: none;
    float: left;
    padding: 0 5px;
    border: 1px solid #ddd;
    background: #ffff;
    margin: 0 2px;
    font-size: 11px;
    color: #000;
}
.pages a:hover
{
    background-color: #E61636;
    color: #fff;
    border: 1px solid #E61636;
    text-decoration: none;
}
.pages .cpb
{
    font-weight: bold;
    color: #fff;
    background: #E61636;
    border: 1px solid #E61636;
}


/* 风格3 */
.paginator
{
    font: 12px Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 0;
    margin: 0px;
}
.paginator a
{
    border: solid 1px #ccc;
    color: #0063dc;
    cursor: pointer;
    text-decoration: none;
}
.paginator a:visited
{
    padding: 1px 6px;
    border: solid 1px #ddd;
    background: #fff;
    text-decoration: none;
}
.paginator .cpb
{
    border: 1px solid #F50;
    font-weight: 700;
    color: #F50;
    background-color: #ffeee5;
}
.paginator a:hover
{
    border: solid 1px #F50;
    color: #f60;
    text-decoration: none;
}
.paginator a, .paginator a:visited, .paginator .cpb, .paginator a:hover
{
    float: left;
    height: 16px;
    line-height: 16px;
    min-width: 10px;
    _width: 10px;
    margin-right: 5px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-family: Arial,SimSun;
    padding: 0 3px;
}


