body {
	margin: 0px; padding: 0px; font-family: Arial; font-size: 12px;
}
.loginbody {
	margin: 0px; padding: 0px; font-family: Arial; font-size: 12px;
}
img {
	border: currentColor; border-image: none;
}
a:hover img {
	opacity: 0.7;
}
.mains {
	width: 100%; margin-right: auto; margin-left: auto;
}
.mainslogin {
	background: rgb(255, 255, 255); width: 100%; margin-right: auto; margin-left: auto;
}
.header {
	width: 100%; color: white; background-color: rgb(104, 171, 228);
}
.toptool {
	background: url("../images/toptoolbg.png"); width: 100%; height: 24px; text-align: left; color: rgb(255, 255, 255); line-height: 24px; font-size: 14px; font-weight: normal; border-top-color: rgb(36, 168, 191); border-bottom-color: rgb(36, 168, 191); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.user {
	line-height: 49px; padding-left: 20px; float: left;
}
.toptoolsarea {
	height: 24px; text-indent: 12px; margin-right: 12px; float: right;
}
.toptoolsarea ul {
	margin: 0px; padding: 0px;
}
.toptoolsarea ul li {
	list-style: none; border-left-color: rgb(239, 239, 239); border-left-width: 1px; border-left-style: solid; float: left;
}
.toptoolsarea ul li a {
	color: rgb(255, 255, 255); padding-right: 10px; display: block;
}
.toptoolsarea ul li a:hover {
	background: rgb(102, 204, 255); color: rgb(255, 255, 255);
}
.Filename {
	margin-left: 12px;
}
.inputtext {
	border: 1px solid rgb(0, 51, 102); border-image: none; height: 26px;
}
.inputtext15 {
	border: 1px solid rgb(0, 51, 102); border-image: none; font-size: 12px; margin-top: 1px; margin-bottom: 1px;
}

.inputtext16 {
	border: 1px solid rgb(230, 229, 229); border-image: none; font-size: 12px; margin-top: 1px; margin-bottom: 1px; height:17px;
}
.inputbtn {
	top: 9px; position: relative;
}
.toptoolsarea select {
	border: 1px solid rgb(0, 51, 102); border-image: none; height: 28px; margin-top: 5px;
}
.logo {
	background: url("../images/topbg.png") bottom; width: 100%; height: 58px; line-height: 20px; text-indent: 10px;
}
.logo img {
	margin: 10px 8px 0px 10px; 
vertical-align: bottom;
}
.logo span {
	color: rgb(102, 102, 102); padding-bottom: 10px; font-size: 19px;
}
.logoright {
	margin: 10px 20px 0px 0px; text-align: right; color: black; text-indent: 0px; font-size: 15px; float: right;
}
.clock {
	margin: 0px 5px;
}
.user {
	margin: 0px 10px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.loginbg {
	background: rgb(255, 255, 255); margin: auto; padding: 30px; border-radius: 15px; border: 2px solid rgb(204, 204, 204); border-image: none; left: 0px; top: 0px; width: 380px; height: 180px; right: 0px; bottom: 0px; position: fixed;
}
.loginbg div {
	background: rgb(255, 255, 255); width: auto;
}
.loginbg div h2 {
	padding: 24px 68px 0px; font-size: 32px; font-weight: normal;
}
.loginbg div p {
	margin: 24px 68px 0px; font-size: 18px;
}
.loginbg div a {
	color: rgb(23, 153, 222);
}
.loginbg div a:hover {
	color: rgb(204, 204, 204);
}
.loginbg dl {
	height: 40px; clear: both;
}
.loginbg dl dt {
	width: 100px; line-height: 35px; font-size: 18px; float: left;
}
.loginbg dl dd {
	float: left;
}
.loginlogo {
	background: url("../images/logintopbg.png") 0px 170px; height: 138px;
}
.loginlogo img {
	left: 68px; top: 28px; position: relative;
}
.txt01 {
	left: 150px; top: 130px; position: absolute;
}
.txt02 {
	left: 150px; top: 165px; position: absolute;
}
.txt03 {
	left: 154px; top: 200px; position: absolute;
}
.input01 {
	background: none; padding: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 250px; height: 16px; font-size: 18px; margin-left: 0px;
}
.input02 {
	background: none; padding: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 250px; height: 16px; font-size: 18px; margin-left: 0px;
}
.input03 {
	background: rgb(15, 156, 217); border: currentColor; border-image: none; width: 151px; height: 38px; text-align: center; right: 38px; color: rgb(255, 255, 255); line-height: 38px; font-size: 18px; margin-top: 8px; display: block; position: absolute; bottom:6px;
}
.input04 {
	background: none; padding: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 250px; height: 15px; line-height: 12px; font-size: 16px; margin-left: 0px;
}
.input05 {
	background: none; padding: 10px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 250px; height: 15px; line-height: 12px; font-size: 16px; margin-left: 0px;
}
#lblUserCode {
	font-size: 12px; font-weight: 300;
}
span.input03 a {
	color: rgb(255, 255, 255); display: block;
}
span.input03 a:hover {
	background: rgb(0, 204, 255); color: rgb(255, 255, 255); display: block;
}
.code {
	left: 288px; top: 150px; position: absolute;
}
.loginbtn {
	left: 243px; top: 185px; position: absolute;
}
.canelbtn {
	left: 115px; top: 185px; position: absolute;
}
.contactwelcome {
	width: 100%; display: table-cell; background-color: rgb(242, 242, 242);
}
.contact {
	width: 100%; display: table; background-color: rgb(246, 246, 246);
}
.rightmain {
	background: rgb(255, 255, 255);  width: auto; display: table-cell;
}

.rightmain_otc {
	background: rgb(39, 152, 197);  width: auto; display: table-cell;
}

.imgcenter {
	width: 100%; text-align: center; margin-top: 15px; margin-bottom: 20px;
}
 
.bigbutton {
	width: 200px; height: 200px; display: block;
}
.bigbutton img {
	margin-top: 20px; margin-bottom: 20px;
}
.smallbutton {
	width: 200px; height: 200px; display: block;
}
.smallbutton img {
	margin-top: 20px; margin-bottom: 20px;
}
.smallbuttonbtnimg {
	margin-top: 20px; margin-bottom: 20px;
}
.ten {
	margin-right: 10px;
}
.searchtools {
	background: url("../images/searctoolsbg.png"); width: 100%; height: 67px; line-height: 32px; text-indent: 10px;
}
.searchtools hr {
	margin: 0px; padding: 0px; line-height: 0px;
}
.databody {
	padding: 5px;
}
.databody table {
	border: 1px solid rgb(51, 51, 51); border-image: none;
}
.databody table tr th {
	background: url("../images/tabletitlebg.png");
}
.tablewbg td {
	background: url("../images/tablewbg.png"); height: 22px;
}
.tablegbg td {
	background: url("../images/tablegbg.png"); height: 22px;
}
.footer {
	background: rgb(39, 177, 201); width: 100%; height: 48px; text-align: center; bottom: 0px; color: rgb(255, 255, 255); line-height: 22px; padding-top: 12px; vertical-align: middle; display: block; position: fixed; z-index: -1111;
}
.tabbg {
	background: url("../images/tabbg.png"); width: 100%; height: 39px;
}
.tabbg img {
	float: right;
}
.tabbg ul {
	margin: 0px; padding: 11px 0px 0px 20px; list-style-type: none;
}
.tabbg ul li {
	text-align: center; line-height: 28px; font-size: 14px; font-weight: bold; float: left;
}
.tabon {
	background: url("../images/tabonbg.png"); width: 99px; height: 28px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif;
}
.taboff {
	
}
.taboff a {
	background: url("../images/taboffbg.png"); width: 99px; height: 28px; color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; text-decoration: none; display: block;
}
.taboff a:hover {
	background: url("../images/tabonbg.png"); width: 99px; height: 28px; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; text-decoration: none;
}
.tools table {
	margin-left: 30px;
}
.tools table tr td {
	height: 50px; vertical-align: top;
}
.tools table tr td select {
	margin: 0px 15px; width: 172px;
}
.checkboxbg {
	background: url("../images/checkboxbg.png") no-repeat; text-align: center;
}
.data {
	background: url("../images/databg.png") no-repeat; margin: 0px 0px 0px 16px; padding: 0px 0px 0px 10px; height: 22px; list-style-type: none;
}
.data li {
	text-align: center; line-height: 22px; float: left;
}
.data li a {
	width: 56px; height: 22px; color: rgb(102, 102, 102); text-decoration: none; display: block;
}
.data li a:hover {
	background: rgb(23, 154, 222); color: rgb(255, 255, 255);
}
.selectdata {
	background: rgb(23, 154, 222); width: 56px; height: 22px; color: rgb(255, 255, 255); display: block;
}
.line {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(204, 204, 204) currentColor currentColor; border-image: none;
}
.tableset {
	margin-left: 0px;
}
.tablestyle {
	text-align: center; border-top-color: rgb(153, 153, 153); border-left-color: rgb(153, 153, 153); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;width:100%;
}
.tablestyle tr th {
	height: 20px; color: rgb(255, 255, 255); border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(51, 153, 204);
}
.tablestyle tr td {
	padding: 3px; border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-wrap: break-word; max-width: 150px;
}

.tablestyle_x {
	text-align: left; border-top-color: rgb(153, 153, 153); border-left-color: rgb(153, 153, 153); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;width:100%;
}
.tablestyle_x tr th {
	height: 20px; color: rgb(255, 255, 255); border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(51, 153, 204);
}
.tablestyle_x tr td {
	padding: 3px; border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-wrap: break-word; max-width: 150px;
}


.tablestyle_otc {
	text-align: center; border-top-color: rgb(153, 153, 153); border-left-color: rgb(153, 153, 153); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;width:100%;
}
.tablestyle_otc tr th {
	height: 20px; color: rgb(255, 255, 255); border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(51, 153, 204);
}
.tablestyle_otc tr td {
	padding: 3px; border-right-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; -ms-word-wrap: break-word; max-width: 150px; min-width:120px;
}
.paddingleft25 {
   padding-left:25px; 
}

h3 {
	margin: 8px 10px;
}
.formstyle {
	border: 0px solid rgb(153, 153, 153); border-image: none; text-align: center; margin-bottom: 5px;
}
.formstyle tr th {
	height: 20px; text-align: left; color: rgb(104, 171, 228); padding-left: 30px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.formstyle tr td {
	padding: 3px;
}
.yellow {
	background: rgb(255, 255, 153);
}
.red {
	background: rgb(255, 204, 204);
}
.tabletitle {
	margin: 8px 10px; font-size: 18px;
}
* {
	padding: 0px; margin-right: 0px; margin-left: 0px;
}
a {
	color: black; text-decoration: none;
}
a:link {
	color: black; text-decoration: none;
}
a:visited {
	color: black; text-decoration: none;
}
.leftmain {
	margin: 50px auto; width: 182px; height: auto; font-size: 13px; white-space: normal; -ms-word-break: break-all;
}
.leftmain > ul {
	list-style: none;
}
.leftmain .menu-one > li {
	width: 182px; height: auto; overflow: hidden; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.leftmain .menu-one > li.firstChild {
	border: 0px currentColor; border-image: none;
}
.leftmain .menu-one .header {
	background: rgb(95, 100, 111); height: 25px; line-height: 24px; text-indent: 0px; cursor: pointer;
}
.leftmain .menu-one .header:hover {
	background: rgb(23, 154, 222);
}
.leftmain .menu-one .menuOne-current {
	background: rgb(23, 154, 222);
}
.leftmain .menu-one .header > span {
	display: block;
}
.leftmain .menu-one .header .txt {
	width: 150px; text-align: left; color: rgb(255, 255, 255); padding-left: 8px; float: left; display: block;
}
.leftmain .menu-one .header .arrow {
	background: url("../images/arrow-d.png") no-repeat center; left: 155px; width: 25px; height: 25px; position: absolute;
}
.leftmain .menu-two {
	width: 182px; height: auto; display: none;
}
.leftmain .menu-two li {
	padding: 3px 15px; width: 152px; text-align: left; line-height: 18px;
}
.leftmain .menu-two li.firstChild {
	border: 0px currentColor; border-image: none;
}
.leftmain .menu-two li a {
	color: rgb(136, 136, 136); display: block;
}
.leftmain .menu-two li:hover {
	background: rgb(255, 255, 255);
}
.leftmain .menu-two li.menuTwo-current {
	background: rgb(255, 255, 255);
}
.leftmain .menu-show .header {
	background: rgb(23, 154, 222);
}
.leftmain .menu-show .header .arrow {
	background-image: url("../images/arrow-u.png");
}
.page {
	float: right;
}
.select {
	color: rgb(0, 0, 0); background-color: rgb(200, 238, 252);
}
.btn {
	padding: 3px; color: white; font-size: 15px; background-color: rgb(51, 153, 204); border-style:none;
}
.btn_s {
	padding: 2px; color: white; font-size: 14px; background-color: rgb(51, 153, 204); border-style:none;
}
.btn3 {
	padding: 3px; color: white; font-size: 14px; background-color: rgb(104, 171, 228);
}
.btn1 {
	padding: 3px; height: 27px; color: white; font-size: 15px; margin-bottom: 3px; background-color: rgb(104, 171, 228);
}
.btnRow {
	color: white; font-size: 12px; background-color: rgb(104, 171, 228);
}
.contrlFontSize {
	font-size: 14px;
}
.contrlFontSize_s {
	font-size: 14px;
}
.paginator {
	font: 14px/normal Arial, Helvetica, sans-serif; margin: 0px; padding: 3px; height: 20px; color: black; font-size-adjust: none; font-stretch: normal;
}
.paginator a {
	background: rgb(255, 255, 255); padding: 1px 6px; border: 0px solid rgb(221, 221, 221); border-image: none; color: black; text-decoration: none; margin-right: 2px; cursor: pointer;
}
.paginator a:visited {
	background: rgb(255, 255, 255); padding: 1px 6px; border: 0px solid rgb(221, 221, 221); border-image: none; text-decoration: none;
}
.paginator .cpb {
	padding: 1px 6px; border: currentColor; border-image: none; font-size: 14px; font-weight: bold;
}
.paginator a:hover {
	background: rgb(255, 255, 255); border-color: rgb(255, 255, 255); color: rgb(255, 165, 1); text-decoration: none;
}
.paginator img {
	top: 3px; position: relative;
}
#dataMian {
	padding: 3px; border: 1px solid rgb(153, 153, 153); border-image: none; text-align: center; margin-top: 5px; margin-bottom: 5px;
}
#PageTitle {
	font-size: 20px; margin-bottom: 3px;
}
#fieldsetDiv {
	
}
#legendTitle {
	
}
.HerfTitle {
	font-size: 15px;
}
.select_c {
	color: rgb(255, 255, 255); background-color: rgb(0, 178, 238);
}
.BreadcrumbNavigation {
	border: currentColor; border-image: none; text-align: left; margin-bottom: 5px;
}
.BreadcrumbNavigation a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.BreadcrumbNavigation a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.spanText {
	margin-left: 15px;
}
.messageText {
	color: red; margin-right: 3px;
}
.checkclient {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; color: white; font-size: 20px; position: fixed; z-index: 100;
}
.buttonicon li {
	 text-align:center;   float: left; 
}
.buttonicon li a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.buttonicon li a:hover {
	color: rgb(255, 255, 255);
}
.smallbutton {
	width: 140px; height: 140px; display: block; position: relative; margin:18px;
}
.smallbutton img {
	margin-top: 20px; margin-bottom: 20px;
}
li.smallbutton span {
	top: 133px; width: 140px; text-align: center; color: rgb(255, 255, 255); font-size: 15px; position: absolute; z-index: 1;
} 

.displayNone {
	display: none;
}

.ddl_select
{
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	text-decoration: none;
	overflow: visible;
	color: Black;
	background-color: white;
	background-position: right center;
	background-repeat: no-repeat;
    font-family:Arial;
}

.dd_chk_select
{
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	height: 20px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	vertical-align: middle;
	font-size: 12px;
	text-decoration: none;
	overflow: visible;
	color: Black;
	background-color: white;
	background-position: right center;
	background-repeat: no-repeat;
    font-family:Arial;
}
