@charset "UTF-8";
/* CSS Document */
body{ font-size:12px;margin:0px; padding:0px; font-family:Arial}
.loginbody{ font-size:12px;margin:0px; padding:0px; background:#fff; font-family:Arial}

img {border:none;}
a:hover img{
	opacity:0.7;
	filter:alpha(opacity=70);
	-ms-filter:"alpha(opacity=70)";
}
.mains { width:100%; background:#ccc; margin-left:auto; margin-right:auto;}
.mainslogin { width:100%; background:#fff; margin-left:auto; margin-right:auto;}

.header {width:100%;}
.toptool {width:100%;height:49px; background:url(../images/toptoolbg.png); text-align:right; line-height:49px; color:#FFF; font-size:14px; font-weight:normal}
.user { padding-right:20px; line-height:49px; float:right}
.toptoolsarea { float:left; margin-right:12px; height:49PX; padding-left:15px;}
.toptoolUser{ float:right; margin-right:12px; height:49PX; padding-left:15px;}
.inputtext{ height:26px; border:#036 solid 1px;}
.inputlable{ height:26px; width:100%; font-family:Arial;font-size:12px;}
.inputbtn { position:relative; TOP:10PX; background-image:url(../images/searchbtn.png);}
.inputbtn_search { position:relative; background-image:url(../images/searchbtn.png); background-position:inherit;}
.inputbtn_down { position:relative; background-image:url(../images/download.png); margin-top:10px;}
.inputbtn_upload { position:relative; background-image:url(../images/upload.png);}
.btnSearch{ background-image:url(../images/submit.png); background-position:inherit; background-repeat:no-repeat; position:relative; TOP:8PX;}
.btnAdd{ background-image:url(../images/addbtn.png); background-position:inherit; background-repeat:no-repeat;  position:relative; TOP:8PX;}
.toptoolsarea select{ height:28px; margin-top:5px; border:#036 solid 1px;}
.logo {width:100%; height:60px; background:url(../images/topbg.png) bottom; line-height:20px; text-indent:10px;}
.logo img{ margin:5px 50px;}
.clock { margin:0 5px;}
.user { margin:0 10px;}
.left { float:left;}
.right {float:right;}
.login{ background-color:#333; background:url(../images/lbg.png);display:table; width:100%; height:600px;}
.loginbg { width:100%; background:#fff;}
.loginbg div { width:50%; float:left; background:#fff;}
.loginbg div h2 { font-size:32px; padding:24px 68px 0; font-weight:normal}
.loginbg div p { margin:24px 68px 0; font-size:18px;}
.loginbg div a{color:#1799DE}
.loginbg div a:hover{color:#ccc}

.loginlogo{ background:url(../images/logintopbg.png); height:214px;}
.loginlogo img { position:relative; top:48px; left:68px;}
.txt01{  position:absolute; top:130px; left:150px;}
.txt02{ position:absolute; top:165px; left:150px;}
.txt03{ position:absolute; top:200px; left:154px;}
.input01{ width:283px;height:16px; border:#535862 solid 1px; border-bottom:none; background:none; margin-left:68px; font-size:18px; padding:10px;}
.input02{ width:283px;height:16px; border:#535862 solid 1px; border-top:solid 1px; background:none; margin-left:68px; font-size:18px; padding:10px;}
.input03{ width:151px; height:65px; border:none; background:#0F9CD9; font-size:38px; color:#FFF;margin-left:68px; margin-top:18px;}
.code{ position:absolute; top:150px; left:288px;}
.loginbtn{ position:absolute;  top:185px; left:243px;}
.canelbtn { position:absolute;  top:185px;left:115px;}

.contactwelcome{ background-color:#F2F2F2; display:table-cell; width:100%;}
.contact{  display:table; width:100%; }
.leftmain{ color:#fff; width:182px; display:table-cell; vertical-align:top; text-align:center; padding-top:0px; }
.leftmain p{text-align:center; font-size:9px;-webkit-text-size-adjust:none; font-weight:normal; line-height:5px;}
.rightmain { background:#fff; display:table-cell; padding:5px; width:auto;}

/*---------------d.r------------*/
.right_head {margin:8px 0px 10px 8px;}


.imgcenter { width:100%;text-align:center; margin-top:15px; margin-bottom:20px;}
.buttonicon li{ float:left; margin:2px; text-align:center;}
.buttonicon li a{ color:#666; text-decoration:none}
.buttonicon li a:hover{ color:#999;}
.bigbutton { width:200px; height:200px;display:block;}
.bigbutton img { margin-top:20px;margin-bottom:20px;}
.smallbutton { width:200px; height:200px; display:block;}
.smallbutton img { margin-top:20px; margin-bottom:20px;}
.ten { margin-right:10px;}
.searchtools { background:url(../images/searctoolsbg.png); width:100％; height:67px;text-indent:10px; line-height:32px;}
.searchtools hr { padding:0px; margin:0px; line-height:0px;}
.databody { padding:5px;}
.databody table { border:#333 solid 1px;}
.databody table tr th{background:url(../images/tabletitlebg.png);}
.tablewbg td{background:url(../images/tablewbg.png); height:22px;}
.tablegbg td{background:url(../images/tablegbg.png);height:22px;}
.footer {width:100%; height:48px; line-height:22px;background:#545962; vertical-align:middle; padding-top:12px; text-align:center;  color:#fff; display:block; position:fixed; bottom:0px;}
.tabbg { background:url(../images/tabbg.png); height:39px; width:100%}
.tabbg img{ float:right;}
.tabbg ul{ margin:0px; padding:0px; list-style-type:none; padding-top:11px; padding-left:20px;}
.tabbg ul li { text-align:center; line-height:28px; font-size:14px; float:left; font-weight:bold;}
.tabon { background:url(../images/tabonbg.png); height:28px; width:99px; color:#333; font-family:Arial, Helvetica, sans-serif;}
.taboff {}
.taboff a{ color:#fff; font-family:Arial, Helvetica, sans-serif; text-decoration:none;background:url(../images/taboffbg.png); height:28px; width:99px; display:block}
.taboff a:hover{ color:#333; font-family:Arial, Helvetica, sans-serif; text-decoration:none;background:url(../images/tabonbg.png); height:28px; width:99px; }
.tools table { margin-left:30px;}
.tools table tr td {height:30px;}
.tools table tr td select { width:172px; margin:0 15px;}
.checkboxbg { background:url(../images/checkboxbg.png) no-repeat; text-align:center}
.data {list-style-type:none; margin:0px; padding:0px; background:url(../images/databg.png) no-repeat; height:22px; padding-left:10px; margin-left:16px;}
.data li { float:left; line-height:22px; text-align:center; }
.data li a{ text-decoration:none; color:#666; width:56px; height:22px; display:block}
.data li a:hover{ background:#179ADE; color:#FFF; }
.selectdata {background:#179ADE; color:#FFF; width:56px; height:22px; display:block }
.line { border:none; border-top:#CCCCCC solid 1px;}
.tableset { margin-left:26px;}
/*.tablestyle {border-top:#179ADE solid 1px; border-left:#179ADE solid 1px; text-align:center;}
.tablestyle tr th { border-bottom:#179ADE solid 1px; border-right:#179ADE solid 1px; height:30px; background-color:#0B7DB0; color:#fff;}
.tablestyle tr td { border-bottom:#179ADE solid 1px; border-right:#179ADE solid 1px; padding:3px;}*/
.tablestyle {border-top:#999 solid 1px; border-left:#999 solid 1px; text-align:center;}
.tablestyle tr th { border-bottom:#999 solid 1px; border-right:#999 solid 1px; height:30px; background-color:#666; color:#fff;}
.tablestyle tr td { border-bottom:#999 solid 1px; border-right:#999 solid 1px; padding:3px; }
.yellow { background:#FFFF99;}
.red { background:#FFCCCC;}
.tabletitle { font-size:18px; font-weight:bold;}

* {margin: 0; padding: 0;}
/*a, a:link, a:visited {color: #ccc; text-decoration: none;}*/

.leftmain {margin: 50px auto; width: 182px; height: auto; font-size:18px;}
.leftmain > ul {list-style: none;}
.leftmain .menu-one > li {width: 182px; height: auto; overflow: hidden; border-top: 1px solid #ccc;}
.leftmain .menu-one > li.firstChild {border: 0; }
.leftmain .menu-one .header {height: 35px; background: #5F646F; line-height: 34px; text-indent: 15px; cursor: pointer;}
.leftmain .menu-one .header:hover,
.leftmain .menu-one .menuOne-current {background: #179ADE;}
.leftmain .menu-one .header > span {display: block;}
.leftmain .menu-one .header .txt {float: left; color: #fff;}
.leftmain .menu-one .header .arrow {float: right; width: 35px; height: 35px; background: url(../images/arrow-d.png) no-repeat center center;}
.leftmain .menu-two {display: none; width: 182px; height: auto;}
.leftmain .menu-two li {width:182px; background: #F6F6F6 border-top: 1px solid #ccc; line-height: 18px; text-align:left; padding:8px 15px;}
.leftmain .menu-two li.firstChild {border: 0;}
.leftmain .menu-two li a {display: block; color: #888;}
.leftmain .menu-two li:hover,
.leftmain .menu-two li.menuTwo-current {background: #fff;}

.leftmain .menu-show .header {background: #179ADE;}
.leftmain .menu-show .header .arrow {background-image: url(../images/arrow-u.png);}

.radioClass {width: 20px;height: 25px; padding: 0 10px;}
#uploadifyUploader{ float:left;}