#nav, #nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
}

#nav a{
display:block;
padding:0px 10px;
color:#fff;
text-decoration:none;
background-color:#24A8BF;
}

#nav a:hover{
background-color:#23CCCC;
color:#fff;
}

#nav li{
float:left;
position:relative;
border-right:#fff solid 1px;
background-color:#24A8BF;

}

#nav ul {
position:absolute;
display:none;
width:200px;
}

#nav li ul a{
width:200px;
float:left;
}

#nav ul ul{
top:auto;
}	

#nav li ul ul {
left:200px;
margin:0px 0 0 21px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
display:block;
}