﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/Top.Master" AutoEventWireup="true" CodeBehind="bargraph.aspx.cs" Inherits="JSKWeb.PPTGenerate.bargraph" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="topTool" runat="server">
    <fieldset>
        <legend>&nbsp;文件上传&nbsp;</legend>
        <table cellpadding="0" cellspacing="0" border="0"  class="">
            <tbody>
                <tr>
                       <td align="right" width="180px" class="contrlFontSize">
                        请上传柱状图Excel文件：
                    </td>
                    <td align="left" width="440px">
                        <asp:FileUpload ID="fileUploadCtr" runat="server" />&nbsp;
                        <asp:Button ID="btnQuery" OnClick="btnSearch_Click" CssClass="btn" 
                            runat="server"  Text="生 成" Width="70px" />
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>



</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="rightMain" runat="server">
    
    <div id="dataMian">
        <div>
        </div>
        </div>



</asp:Content>

