﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="JSKWeb.index"  MasterPageFile="~/Master/Top.Master" %>

<%@ Register Assembly="JSKWeb" Namespace="JSKWeb.Controls" TagPrefix="cc1" %>
<%@ Register Assembly="AspNetPager" Namespace="Wuqi.Webdiyer" TagPrefix="webdiyer" %> 

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
    function quitsystem() {
        if (confirm("Exit system？")) {
            window.location = "../LoginOut.aspx";
        }
    } 
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="topTool" runat="server" >
    <%--    <asp:SiteMapPath ID="SiteMapPath1" runat="server">
    </asp:SiteMapPath>--%>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="rightMain" runat="server">
<table width="100%">
 <tr><td><div class="tablebody">
    <ul class="buttonicon">
        
         <li class="smallbutton" ><span>VIP/KA明细查询</span><a href="VIP/index.aspx"><img src="images/icon02.png" /></a></li>
         <li class="smallbutton"><span>VIP/KA申诉进度查询</span><a href="TICKET/index.aspx"><img src="images/icon08.png" /></a></li>
         <li class="smallbutton"><span>VIP/KA申诉错误</span><a href="TICKET/Index_Nielsen_Log.aspx"><img src="images/icon04.png" /></a></li>
         <li class="smallbutton" runat="server" id="ticketli" visible="false"><span>TICKET上传</span><a href="#"> <asp:ImageButton ID="btnAdd" class="smallbuttonbtnimg"
             runat="server" ImageUrl="~/images/icon09.png" onclick="btnAdd_Click"   Visible="False" /> </a></li>
         <li class="smallbutton"><span>VIP/KA申诉表格下载</span><a href="#"> 
             <asp:ImageButton ID="btnDownLoad" class="smallbuttonbtnimg"
             runat="server" ImageUrl="~/images/icon06.png" onclick="btnDownLoad_Click"   /> </a></li>         
         <li class="smallbutton" id="mingxi2" runat="server"  visible="false" ><span>VIP/KA查询复杂版</span><a href="VIP/Index_Nielsen.aspx"><img src="images/icon02.png" /></a></li>
         <li class="smallbutton" id="zaiget" runat="server" visible="false" ><span style=" color:Red;">VIP/KA重新认领</span><a href="TICKET/Index_Nielsen_A.aspx"><img src="images/icon05.png" /></a></li>
    </ul>
   
</div></td></tr>
  <tr style="display:none;"><td><div class="tablebody">
    <ul class="buttonicon">
         <li class="smallbutton"><span>RED明细查询</span><a href="RED/index.aspx"><img src="images/icon01.png" /></a></li>
                
      
    </ul>
   
</div></td></tr>
</table>

 
<%--<img  src="../images/welcome.jpg" style="width:100%;height:100%;" align="top" />--%>



</asp:Content>

